shiny>=1.0.0
faicons>=0.2.0
pytest>=7.0.0
black>=23.0.0
pandas>=3.0.0
transformers>=4.30.0
torch>=2.0.0
scikit-learn>=1.3.0
tqdm>=4.65.0
numpy>=1.24.0

# new

nltk
torchvision
transformers
scikit-learn
wordcloud
matplotlib
seaborn